aiohttp==3.10.0
aiomysql==0.2.0
asgiref==3.8.1
cryptography==43.0.0
importlib-metadata==8.0.0
importlib-resources==6.4.0
ipython==8.12.3
jaraco.collections==5.1.0
matplotlib==3.9.2
nbconvert==7.16.4
num2words==0.5.13
pip-chill==1.0.3
python-docx==1.1.2
python-dotenv==1.0.1
quart-auth==0.10.1
yarg==0.1.9
openpyxl