{% extends "base.html" %}

{% block title %}Внесение информации о ФОП{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Внесение информации о ФОП</h1>
    <form action="/submit-fop" method="POST">
        <div class="mb-3">
            <label for="position" class="form-label">Позиция:</label>
            <select name="position" id="position" class="form-select" required>
                <option value="Мастер">Мастер</option>
                <option value="Инженер">Инженер</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Полное имя (ФИО):</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="inn" class="form-label">ИНН:</label>
            <input type="text" id="inn" name="inn" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="pidstava" class="form-label">Основание:</label>
            <input type="text" id="pidstava" name="pidstava" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Адрес регистрации:</label>
            <input type="text" id="address" name="address" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="iban" class="form-label">IBAN:</label>
            <input type="text" id="iban" name="iban" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="bank_account_detail" class="form-label">Детали банка:</label>
            <input type="text" id="bank_account_detail" name="bank_account_detail" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="name_short" class="form-label">Сокращенное имя (ИОФ):</label>
            <input type="text" id="name_short" name="name_short" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
