{% extends "base.html" %}

{% block content %}
    <h1>Недостающие Договора</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Территория</th>
                <th>Имя Мастера</th>
                <th>Имя Инженера</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for agreement in agreements %}
            <tr>
                <td>{{ agreement[2] }}</td> <!-- description -->
                <td>{{ agreement[4] }}</td> <!-- fop_name -->
                <td>{{ agreement[11] }}</td> <!-- ri_name -->
                <td>
                    <form method="POST" action="{{ url_for('generate_protocols') }}">
                        <input type="hidden" name="agreement_id" value="{{ agreement[0] }}">
                        <button type="submit">Исправить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
